<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371509168391-1vrfaf21347ojrlkfqfpccnsismas8dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371509168391-1vrfaf21347ojrlkfqfpccnsismas8dp</string>
	<key>API_KEY</key>
	<string>AIzaSyDNhF7aq3WNLEXOUiE0RCGieMsS2Rx3s1A</string>
	<key>GCM_SENDER_ID</key>
	<string>371509168391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RyanLacey.BeSafe</string>
	<key>PROJECT_ID</key>
	<string>besafe-fyp</string>
	<key>STORAGE_BUCKET</key>
	<string>besafe-fyp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371509168391:ios:066453d7ece334b8afdda2</string>
</dict>
</plist>